/* font-styles */
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* header-style */
#header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}
/* navbar-styles */
.navbar{
    width: 75%;
    margin: 0px auto 102px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.nav-link{
    display: flex;
    gap: 50px;
    align-items: center;
}
.nav-link li{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    font-size: 18px;
    font-weight: medium;
    color: #424242;
}
/* banner-styles */
.banner{
    width: 75%;
    margin: 0px auto;
    text-align: center;
}
.banner-content{
    width: 59.86%;
    margin: 0px auto;
}
.banner-heading{
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 32px;
}
.banner-sub-heading{
    font-size: 16px;
    font-weight: regular;
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner-btn button{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: SemiBold;
    padding: 20px 25px;
    margin-bottom: 50px;
}
.banner-img img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 45px;
}