/* font-related-styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* header-related-style */
#header{
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}
/* navbar-related-styles */
.navbar{
    width: 75%;
    margin: 0px auto 102px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-size: 2.81rem;
    font-weight: bold;
    color: #131313;
}
.nav-links{
    display: flex;
    gap: 50px;
    align-items: center;
}
.nav-links .nav-item{
    list-style: none;
}
.nav-links .nav-link{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: medium;
    color: #424242;
}
/* banner-related-styles */
.banner{
    width: 75%;
    margin: 0px auto;
}
.banner-content{
    width: 59.86%;
    margin: 0px auto;
    text-align: center;
}
.banner-heading{
    font-size:4rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 32px;
}
.banner-sub-heading{
    font-size: 1rem;
    font-weight: regular;
    color: #727272;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner-btn{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: SemiBold;
    padding: 20px 25px;
    margin-bottom: 50px;
}
.banner-img img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 45px;
}
/* features-related-style */
.team{
    width: 70%;
    margin: 0px auto 130px auto;
    display: flex;
    gap: 73px;
    align-items: center;
}
.team-img{
    width: 60%;
}
.team-content{
    width: 40%;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-img img{
    width: 100%;
    height: 100%;
}
.team-title{
    font-size: 2.81rem;
    font-weight: medium;
    color: #727272;
    margin-bottom: 24px;
}
.orange{
    font-weight: bold;
    color: #FF900E;
}
.black{
     font-weight: bold;
     color: #131313;
}
.team-description{
    font-size: 1rem;
    font-weight: regular;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}
.team-btn{
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: SemiBold;
    padding: 20px 25px;
}
/* Responsive-media-query*/
/* small-device */
@media screen and (max-width:576px) {
    .navbar,.nav-links,.team{
    flex-direction: column;
      }
      .team-img{
    grid-template-columns: 1fr;
}
.navbar{
    margin-bottom: 50px;
}
.nav-links{
    align-items: normal;
}
.brand-name{
    font-size: 1.81rem;
}
.banner-content,.team-img,.team-content{
    width: 100%;
}
.banner-heading{
    font-size: 2rem;
}
.banner-btn{
    font-size: 1rem;
}
.team{
    gap: 10px;
}

}